---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Virtualization Management:
    - PVE-21:
        href: https://pve21.home.sohot.app:4443/
        icon: proxmox-light.png
        description: A Proxmox virtualization management solution.
        ping: 192.168.88.21
        widget:
            type: proxmox
            url: https://192.168.88.21:8006
            username: api@pam!homepage
            password: {{HOMEPAGE_VAR_PVE21_APIKEY}}
            node: pve
    - PVE-66:
        href: https://pve66.home.sohot.app:4443/
        icon: proxmox-light.png
        description: A Proxmox virtualization management solution.
        ping: 192.168.66.66
        widget:
            type: proxmox
            url: https://192.168.66.66:8006
            username: api@pam!homepage
            password: {{HOMEPAGE_VAR_PVE66_APIKEY}}
            node: pve66
    - PVE-88:
        href: https://pve88.home.sohot.app:4443/
        icon: proxmox-light.png
        description: A Proxmox virtualization management solution.
        ping: 192.168.66.88
        widget:
            type: proxmox
            url: https://192.168.66.88:8006
            username: api@pam!homepage
            password: {{HOMEPAGE_VAR_PVE88_APIKEY}}
            node: pve88

- Network & Security:
    - WireGuard-88:
        href: http://192.168.88.25:51821/
        icon: wireguard.png
        description: A fast and secure VPN solution.
    - WireGuard-66:
        href: http://192.168.66.28:51021/
        icon: wireguard.png
        description: A fast and secure VPN solution.
    - OpenWrt-88:
        icon: openwrt.png
        href: http://192.168.88.25/cgi-bin/luci/admin/services
        description: A Linux OS for embedded devices.
    - iStore66:
        href: http://192.168.66.28/cgi-bin/luci/admin/services/openclash
        icon: /images/istore.png
        description: An advanced routers and network management software.
    - iKuai88:
        href: http://192.168.88.33:81/
        icon: watchyourlan.png
        description: An advanced routers and network management software.
    - iKuai66:
        href: http://192.168.66.26:81/
        icon: watchyourlan.png
        description: An advanced routers and network management software.
    - Traefik:
        href: http://192.168.66.32:8080/
        icon: traefik.svg
        description: Traefik Dashboard.

- Services:
    - QNAP:
        href: http://192.168.66.18:5000/
        icon: qnap.png
        description: A network attached storage solution.
    - Rclone:
        href: http://192.168.66.18:5572/#/dashboard
        icon: rclone.png
        description: A command line program to sync files and directories.
    - Rancher:
        href: https://rancher.home.sohot.app:4443/
        icon: rancher.png
        description: Enterprise Kubernetes Management Platform & Software.
    - Dashy:
        href: http://192.168.66.32:4000/
        icon: dashy.png
        description: A self-hostable personal dashboard built for you. Includes status-checking, widgets, themes, icon packs, a UI editor and tons more!

- Media & Entertainment:
    - Plex:
        href: http://192.168.66.18:32400/
        icon: plex.png
        description: A media server platform.
    - TaleBook:
        href: http://192.168.66.18:8787/
        icon: /images/tale-book.png
        description: An e-book reading and management tool.
    - BaiduPan:
        href: http://192.168.66.18:8092/files
        icon: /images/baidupan.png
        description: Sharedrive tool.

- Development & Database Tools:
    - pgAdmin:
        href: https://pg.home.sohot.app:4443/login?next=%2F
        icon: pgadmin.png
        description: A PostgreSQL management tool.
    - Hasura:
        href: http://192.168.66.18:8000/console
        icon: hasura.png
        description: A platform to build GraphQL apps.
    - Directus:
        href: http://192.168.66.32:8055/
        icon: directus.png
        description: A headless CMS and API platform.
    - Tooljet:
        href: https://tooljet.sohot.app/
        icon: tooljet.png
        description: ToolJet is an open-source low-code framework.
    - NocoDb:
        href: http://192.168.66.32:1213/
        icon: nocodb.png
        description: A database interface tool.

- Download Tools:
    - qBittorrent:
        href: http://192.168.66.18:6363/
        icon: qbittorrent.png
        description: A BitTorrent client.

- Automation:
    - n8n:
        href: https://n8n.home.sohot.app:4443/
        icon: n8n.png
        description: Powerful Workflow Automation Software & Tools.
    - Langflow:
        href: https://langflow.home.sohot.app/
        icon: /images/langflow.png
        description: An open-source, Python-based, customizable framework for building AI applications.
    - HomeAssistant:
        href: http://192.168.66.111:8123/
        icon: home-assistant.png
        description: A home automation platform.
    - HomeBridge:
        href: http://192.168.66.18:8581/
        icon: homebridge.png
        description: A home automation platform.
    - NodeRed:
        href: http://192.168.66.32:1880/
        icon: node-red.png
        description: A flow-based development tool.

- Portainer:
    - Portainer-66.18:
        icon: portainer.png
        href: http://192.168.66.18:9000/
        description: 容器管理服务器
        server: docker-6618
        container: portainer
        widget:
          type: portainer
          url: http://192.168.66.18:9000
          env: 2
          key: {{HOMEPAGE_VAR_PORTAINER_6618_KEY}}

    - Portainer-66.32:
        icon: portainer.png
        href: http://192.168.66.32:9000/
        description: 容器管理服务器
        server: docker-6632
        container: portainer
        widget:
          type: portainer
          url: http://192.168.66.32:9000
          env: 2
          key: {{HOMEPAGE_VAR_PORTAINER_6632_KEY}}
